In [ ]:
import os
import pandas as pd
import numpy as np
import pathlib

from logzero import logger

cache_dir = os.path.join(pathlib.Path().resolve(), "data")
gtex_tpm_fn = os.path.join(cache_dir, "GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_tpm.gct.gz")

In [ ]:
logger.info("Starting g8 load")
_g8 = pd.read_csv(
        gtex_tpm_fn,
        skiprows=2,  # First 2 rows are comments of file size - other func here to select patient groups
        sep='\t',
        header=0,
        # usecols=sample_list,  # Number of samples limit
    )
logger.info("\tfinished g8 load")

[I 210117 10:52:55 <ipython-input-5-092bdd27cb74>:1] Starting g8 load

In [ ]:
from fastai.vision.all import *

In [ ]:
Resize??

In [ ]:
tdf = pd.read_csv("/home/dustin/dusti/Downloads/gdc_download_20210122_170215.611326.tar.gz", compression='gzip', encoding='ISO-8859–1', sep='\t', nrows=10)

In [ ]:
tdf

,MANIFEST.txt,filename,md5,size,state
0,c9c145a7-76b4-443f-8571-c6002b477c73,c9c145a7-76b4-443f-8571-c6002b477c73/unc.edu_L...,c8c89a1bd7b51329161aba0ce5f53cb1,73447.0,validated
1,ðdÊ¥¥øÍ U áënµ.¿ásYÁP5_s9mËé²ùy¾jêi±...,NaN,NaN,NaN,NaN
2,P,NaN,NaN,NaN,NaN
3,P,NaN,NaN,NaN,NaN
4,P,NaN,NaN,NaN,NaN
5,P,NaN,NaN,NaN,NaN
6,P,NaN,NaN,NaN,NaN
7,P,NaN,NaN,NaN,NaN
8,P,NaN,NaN,NaN,NaN
9,P,NaN,NaN,NaN,NaN